body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e8f2;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* .favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
} */

/* h1 {
  text-align: center;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  height: 4rem;
  background-color: #7990ec;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(226, 226, 226);
}

nav > button {
  color: gray;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: white;
  border: 0;
  height: 40px;
  width: 140px;
  border-radius: 0.3rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  margin-top: 2rem;
  background-color: #86868669;
}

footer > img {
  width: 120px;
  margin: 0;
}
footer > p {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(112, 139, 167, 0.3) 0px 8px 24px;
}

.cardInfo {
  text-align: center;
}

.cardInfoDetail {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.profileImg {
  width: 6.5rem;
  border-radius: 100%;
  box-shadow: rgba(112, 139, 167, 0.4) 0px 8px 14px;
}

.profileImgDetail {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  box-shadow: rgba(112, 139, 167, 0.4) 0px 8px 14px;
}

.cardName {
  color: #222;
  font-size: 1.5rem;
}

.cardUsername {
  color: #525252;
  font-size: 1rem;
  margin-top: -15px;
}

.card > button {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #7990ec;
  border: 0;
  height: 40px;
  width: 140px;
  border-radius: 0.3rem;
  box-shadow: rgba(112, 139, 167, 0.4) 0px 8px 14px;
}

.card:hover {
  border: 0.5px solid #7990ec;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  height: 100vh;
}

.sections > button {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #7990ec;
  border: 0;
  height: 40px;
  width: 140px;
  border-radius: 0.3rem;
  box-shadow: rgba(112, 139, 167, 0.4) 0px 8px 14px;
}

.sectionsNames {
  color: gainsboro;
  margin-bottom: 4rem;
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.contactCard {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  gap: 1rem;
  padding: 20px;
}

input {
  width: 240px;
}

form > button {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #7990ec;
  border: 0;
  height: 60px;
  width: 240px;
  border-radius: 0.3rem;
  box-shadow: rgba(112, 139, 167, 0.4) 0px 8px 14px;
}

/* table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */

/* .dark {
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
} */

.app {
  transition: background-color 0.3s, color 0.3s;
}

.app.light {
  background-color: white;
  color: black;
}

.app.dark {
  background-color: black;
  color: white;
}
